<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <p th:if="${#fields.hasErrors('userSaveRequest.username')}">username  is not valid</p>
    <p th:if="${#fields.hasErrors('userSaveRequest.password')}">password  is not valid</p>
    <form method="post" th:action="@{/login/register}">
        <div>
            <label for="username">
                Username:
            </label>
            <input type="text" name="username" id="username"/>
        </div>
        <div>
            <label for="password">Password: </label>
            <input type="password" name="password" id="password"/>
        </div>
        <input type="submit"/>
    </form>
</body>
</html>